
<div class="container">
    <h1 class="text-center mt-5">Joy DOG Center</h1>
    <h2 class="text-center">Get Healthy Dogs From Pre-Screened & Hand-Picked Breeders At Pawrade. All dogs are vet checked and come with a comprehensive health guarantee.</h2>
<div class="row mt-4">

    <div class="col-sm-3">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">12 ₹</button>
                &nbsp;
                <button mat-flat-button color="primary">
                  <mat-icon>shop</mat-icon>
                  Buy Now !
                </button>
            </mat-card-actions>
        </mat-card>
          
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">12 ₹</button>
                &nbsp;
                <button mat-flat-button color="primary">
                  <mat-icon>shop</mat-icon>
                  Buy Now !
                </button>
            </mat-card-actions>
        </mat-card>
          
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">12 ₹</button>
                &nbsp;
                <button mat-flat-button color="primary">
                  <mat-icon>shop</mat-icon>
                  Buy Now !
                </button>
            </mat-card-actions>
        </mat-card>
          
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary">12 ₹</button>
              &nbsp;
              <button mat-flat-button color="primary">
                <mat-icon>shop</mat-icon>
                Buy Now !
              </button>
            </mat-card-actions>
        </mat-card>
          
    </div>

</div>

</div>